.add_event-container {
  max-width: 90rem;
  margin: 0rem auto;
  height: 100vh;
  padding: 1.25rem 5rem 0 5.25rem;
}
.link_back {
  display: inline-flex;
  align-items: center;
  color: #7b61ff;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.125rem;
}
.link_back:hover {
  color: #888888;
}
.link_back svg {
  margin-right: 0.5rem;
}
.add_event-title {
  color: #3f3f3f;
  font-family: Poppins;
  /* font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal; */
  margin-bottom: 1.5625rem;
}
.add_event-form {
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
.add_event-wrapper {
  display: flex;
  justify-content: space-between;
}
.input-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-column label {
  display: flex;
  flex-direction: column;
  color: #7b61ff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}
.input-column input,
textarea {
  display: flex;
  min-width: 23.25rem;
  padding: 1rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--divider, #aca7c3);
  color: #3f3f3f;
  resize: none;
}
#myInput::first-letter {
  text-transform: uppercase;
}
textarea {
  height: 9.6875rem;
}
.input-column input {
  height: 3.4375rem;
}
.input-column label p {
  margin-bottom: 0.5rem;
}
.add_event-button {
  margin-top: 4.875rem;
  display: block;
  margin-left: auto;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  width: 12.0625rem;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
