.event-container {
  max-width: 90rem;
  margin: 0rem auto;
  height: 100vh;
  padding: 1.25rem 5rem 0 5.25rem;
}
.event-content-wrapper {
  width: 39.25rem;
  height: 30.75rem;
  margin: 1.0625rem auto 0;
}
.event-title {
  color: #3f3f3f;
  font-family: Poppins;
  margin-bottom: 0.875rem;
}
.event-content {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
.event-img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.event-text {
  margin: 1.25rem 0.625rem 0.75rem;
  color: #49454f;
  font-family: Poppins;
  font-size: 0.875rem;
  line-height: 1.4;
}
.event-chips-wrapper {
  display: inline-flex;
  gap: 0.75rem;
}
.event-chip {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  background: #fff;
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  color: #7b61ff;
  font-family: Poppins;
  font-size: 0.875rem;
  line-height: 1.4;
}
.event-chip:first-child {
  margin-left: 0.625rem;
}
.priority-low {
  color: #6BD475; 
}
.priority-medium {
  color: #E2A300; 
}
.priority-high {
  color: #FF2B77;
}
.event-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  margin-right: 2.5rem;
  gap: 1rem;
  font-family: Poppins;
  font-size: 0.75rem;
  line-height: 1.33;
}
.event-button-edit {
  color: #7b61ff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #7b61ff;
  background: #fff;
}
.event-button-edit:hover {
  /* border: none; */
  color: #fff;
  background: #7b61ff;
}
.event-button-delete {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #fff;
  background: #7b61ff;
}
.event-button-delete:hover {
  color: #7b61ff;
  background: #fff;
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
}
