
.container{
  margin: 0rem auto;
  background-image: url('../../public/images/Geo\ Wave\ 22.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-position: initial;
}

.header {
  border-bottom: 1px solid #7b61ff;
  background: #fefcff;
  margin: 0 auto;
  
}
.header-wraper{
  max-width: 90rem;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.75rem;
  padding: 0 87px;
}
@media (max-width: 768px) {
  .header-wraper {
    flex-direction: column;
    padding: 0 24px;
  }
}

.header-logo {
  color: #7b61ff;
  font-family: Alata;
  font-size: 1.5rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.search-form {
  position: relative;
  margin-right: 2.25rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  width: 410px;
  height: 3rem;
}
@media (max-width: 768px) {
  .search-form {
    width: 272px;
    margin-top: 31px;
    margin-right: auto;

  }
}
.search {
  border: none;
  outline: white;
  padding: 0.75rem 3rem;
  width: 100%;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: 0.75rem;
}
.search:focus {
  color: #3f3f3f;
}

.wrapper-select {
  width: 4.3125rem;
  padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  align-items: center;
  outline: white;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
@media (max-width: 768px) {
  .wrapper-select {
    display: none;
  }
}
.select {
  width: 3rem;
  font-family: Poppins;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  border: none;
  line-height: 1;
  outline: white;
}
.wrapper-main {
  /* border: 1px solid blue; */
  max-width: 90rem;
  margin: 0rem auto;
  height: 100%;
  padding: 60px 80px 0 84px;
}
@media (max-width: 1439px) {
  .wrapper-main {
   max-width: 90rem;
padding: 40px 40px 0 ;
  }
}
@media (max-width: 768px) {
  .wrapper-main {
    max-width: 90rem;
    padding: 40px 24px 0 ;
  }
}


.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1439px) {
  .main-title {
    display: none;
  }
}
.wrapper {
  width: 518px;
  height: 3.5rem;
  display: flex;
  position: relative;
}
@media (max-width: 1439px) {
  .wrapper {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 271px;
  }
}
.nav-link {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 12.0625rem;
  height: 3.5rem;
  padding: 1rem 0.75rem;
  right: 0;
  border-radius: 0.5rem;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .nav-link{
    width:3.5rem ;
  }
  .nav-link span{
    display: none;
  }
}

.nav-link:hover {
  color: #3f3f3f;
}
