
.container{
  margin: 0rem auto;
  background-image: url('../../public/images/Geo\ Wave\ 22.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-position: initial;
}

.header {
  border-bottom: 1px solid #7b61ff;
  background: #fefcff;
  margin: 0 auto;
  
}
.header-wraper{
  max-width: 90rem;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.75rem;
  padding: 0 5.4375rem;
}

.header-logo {
  color: #7b61ff;
  font-family: Alata;
  font-size: 1.5rem;
  /* font-style: normal;
font-weight: 400;
line-height: normal; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.search-form {
  position: relative;
  margin-right: 2.25rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  width: 25.625rem;
  height: 3rem;
}

.search {
  border: none;
  outline: white;
  padding: 0.75rem 3rem;
  width: 100%;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: 0.75rem;
}
.search:focus {
  color: #3f3f3f;
}

.wrapper-select {
  width: 4.3125rem;
  padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  align-items: center;
  outline: white;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
.select {
  width: 3rem;
  font-family: Poppins;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  border: none;
  line-height: 1;
  outline: white;
}
.wrapper-main {
  /* border: 1px solid blue; */
  max-width: 90rem;
  margin: 0rem auto;
  height: 100%;
  padding: 3.75rem 5rem 0 5.25rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.wrapper {
  width: 32.375rem;
  height: 3.5rem;
  display: flex;
  position: relative;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 12.0625rem;
  height: 3.5rem;
  padding: 1rem 0.75rem;
  left: 20.3125rem;
  border-radius: 0.5rem;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.nav-link:hover {
  color: #3f3f3f;
}
