
.container{
  margin: 0px auto;
  height: 100vh;
  background-image: url('../../public/images/Geo\ Wave\ 22.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header {
  border-bottom: 1px solid #7b61ff;
  background: #fefcff;
  margin: 0 auto;
  
}
.header-wraper{
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 0 87px;
}

.header-logo {
  color: #7b61ff;
  font-family: Alata;
  font-size: 24px;
  /* font-style: normal;
font-weight: 400;
line-height: normal; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.search-form {
  position: relative;
  margin-right: 36px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  width: 410px;
  height: 48px;
}

.search {
  border: none;
  outline: white;
  padding: 12px 48px;
  width: 100%;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: 12px;
}
.search:focus {
  color: #3f3f3f;
}

.wrapper-select {
  width: 69px;
  padding: 12px 4px 12px 12px;
  align-items: center;
  outline: white;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
.select {
  width: 48px;
  font-family: Poppins;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  border: none;
  line-height: 1;
  outline: white;
}
.wrapper-main {
  /* border: 1px solid blue; */
  max-width: 1440px;
  margin: 0px auto;
  height: 100%;
  padding: 60px 80px 0 84px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.wrapper {
  width: 518px;
  height: 56px;
  display: flex;
  position: relative;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 193px;
  height: 56px;
  padding: 16px 12px;
  left: 325px;
  border-radius: 8px;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.nav-link:hover {
  color: #3f3f3f;
}
