.wrapper-category {
 z-index: 87;
  overflow: hidden;
  width: 9.25rem;
  position: absolute;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
@media (max-width: 768px) {
  .wrapper-category  {
width: 3.5rem;
left: 64px;
  }
}
.active-category{
  width:9.875rem;
  left: 0.3125rem;
}  
@media (max-width: 768px) {
  .active-category  {
    left: 2.3125rem;
    z-index: 200;
  }
}
.btn-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 148px;
  height: 3.5rem;
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: #fff;
}
@media (max-width: 768px) {
  .btn-category {
    flex-direction: row-reverse;
  }
}
.btn-category:hover,
:focus {
  color: #7b61ff;
}
.category-option {
  border-top: 1px solid #aca7c3;
  cursor: pointer;
  color: #aca7c3;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  padding: 0.5625rem 1.5rem;
}
.category-option:hover,
:focus {
  color: #7b61ff;
}
