.label{
    position: relative;
}
.select-options {
  position: absolute;
  top: 6.0625rem;
  z-index: 10;
  width: 23.25rem;
  padding: 0rem 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
.select-option{
    padding: 1rem 0;
    color:  #3F3F3F;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.select-option:not(:last-child){
    border-bottom: 1px solid #ACA7C3;
}
input {
  position: relative;
}
.container-svg {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}
.hidden {
  display: none;
}
