.card-list-wrapper{
  margin: auto;
}

.card-list {
  margin-top: 2.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 18.875rem);
  grid-template-rows: repeat(2, 30rem);
  grid-gap: 2.5rem 1.5rem;
  list-style: none;
  padding: 0;
}
@media (max-width: 1439px) {
  .card-list {
    grid-template-columns: repeat(2, 18.875rem);
  }
}
@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(1, 271px);
  }
}
.card-item {
  position: relative;
  width: 18.875rem;
  height: 30rem;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
@media (max-width: 768px) {
  .card-item{
    width: 16.9375rem;
  }
}

.card-img-wrapper {
  position: absolute;
  top: 0;
}
.card-img {
  object-fit: fill;
  width: 18.75rem;
  height: 19.25rem;
}
.mark-height {
  display: flex;
  position: absolute;
  top: 0;
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  color: #7b61ff;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}
.mark-category {
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
}
.mark-priority {
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
}
.priority-low {
  color: #6bd475;
}
.priority-medium {
  color: #e2a300;
}
.priority-high {
  color: #ff2b77;
}
.mark-down {
  top: -2.4375rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  color: #7b61ff;
  font-family: Poppins;
  font-size: 0.875rem;
  line-height: 1.7;
}
.time {
}
.location {
}
.card-content {
  position: absolute;
  display: block;
  justify-content: space-between;
  bottom: 0;
  height: 36%;
  background: #fff;
  transition: height 200ms linear;
}
.card-item:hover {
  .card-content {
    height: 43%;
    transition: height 200ms linear;
  }

  .card-more {
    transform: translateY(0%);
    transition: transform 100ms linear;
  }
}
.card-title {
  color: #1c1b1f;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5;
  padding: 0.5rem 0.9375rem;
}
.card-body {
  width: 100%;
  height: 5.25rem;
  color: #49454f;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  padding: 0.5rem 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-more {
  display: grid;
  transform: translateY(75%);
  transition: transform 200ms linear;
  justify-content: end;
  padding: 1rem;
}
.button-more {
  padding: 0.625rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #7b61ff;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
}
