#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.pagination {
  margin-bottom: 4.8125rem;
  margin-top: 2rem;
  margin-left: auto;
  display: inline-flex;
  gap: 1.25rem;
  padding: 0.625rem;
  list-style: none;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  justify-content: flex-end;
}
@media (max-width: 1439px) {
  .pagination {
   margin: auto;
   margin-bottom: 7.8125rem;
   margin-top: 2.5rem;
  }
}
.pagination-previous {
  padding: 1.25rem;
  cursor: pointer;
}
.pagination-next {
  padding: 1.25rem;
  cursor: pointer;
}
.pagination-disabled {
}
.pagination-item {
  cursor: pointer;
  padding: 1.1875rem;
  color: #aca7c3;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.general {
}
.active {
  color: #7b61ff;
  fill: #bcbcbc;
}
