.wrapper-sort {
  z-index: 88;
  overflow: hidden;
  left: 10.75rem;
  width: 8.0625rem;
  position: absolute;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
@media (max-width: 768px) {
  .wrapper-sort  {
width: 3.5rem;
left: 8.75rem;
  }
}
 .active-sort{
  width:10.625rem;
  left: 9.4375rem;
}
@media (max-width: 768px) {
  .active-sort  {
    left: 2.4375rem;

  }
}
.btn-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.0625rem;
  height: 3.5rem;
  padding: 1rem;
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: #fff;
}
@media (max-width: 768px) {
  .btn-sort {
    flex-direction: row-reverse;
  }
}
.btn-sort:hover,
:focus {
  color: #7b61ff;
}
.sort-option {
  display: flex;
  border-top: 1px solid #aca7c3;
  cursor: pointer;
  color: #aca7c3;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  padding: 0.5625rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.sort-option:hover,
:focus {
  color: #7b61ff;
}
